<!-- includes/footer.html -->
<!DOCTYPE html>
<html lang="ru">
  <footer class="border-top text-center py-3">
    <style>
      body {
        font-family: PT Astra Sans;
         background-color: white;
         }
      .footer {
        background-color: lightskyblue;
         position: fixed;
         right: 0;
         bottom: 0;
         text-align: center; 
         width: 100%;   
         font-size: 14px;
      font-weight: bold;
        color: #fafaff;
        height: 50px;
       }
      </style>
    <p>© {{ year }} Copyright <span style="color:red">Ya</span>tube</p>    
  </footer>
</html>
