<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}<title>Об авторе проекта</title>{% endblock %}
{% block content %}
<head>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<div style="position: absolute; top:65px;  left:150px">
  <h2>
    Привет, я автор этого пока ещё простенького сайта, но доработка продолжается!
  </h2>
</div>
    <div style="position:absolute; top:150px; left:80px;">
    <h4>
      Немного о себе:
    </h4>
    </div>
    <div style="position:absolute; top:155px; left:330px;">
      <p>
        Я строитель с большим опытом.<br> 
        В поисках нового я понял, что мне очень нравится кодить.<br>
        Поэтому я отправился в ЯП и меня тут потихоньку учат.👍<br>
        И вот мой первый проект на Django, что ж, рад знакомству<br>
        А вот ссылки на мои соцсети 👇.<br>
      </p>
    </div>
    <div style="position:absolute; top:400px;  left:330px">
  <button class="button button4">
    <a href="https://github.com/IncubTLT/hw02_community">Мой Github</a>
  </button>
  <button class="button button4">
    <a href="https://vk.com/evgeniy.volkov_me">Мой Контакт</a>
  </button>
</div>
{% endblock %}
